/* CSS: setting-sidebar */

/* navBar */
#mainsettingnavBar .settingnavBarBlock {
    padding: 0px;
    text-align: center;
    /* DEBUG */
    /*border: red 1px dashed;*/
}


.settingnavBarBlock a li{
    display: inline-block;
    padding-right: 10px;
    padding-left:  10px;

    /* DEBUG */
    /*border: red 1px dashed;*/
}


/* settingnavBarButton */
.settingnavBarButton > li {
    height: 40px;
    line-height: 40px;
    color: rgba(0,0,0,0.4);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    
    /* DEBUG */
    /*border: greenyellow 1px dashed;*/
}

.settingnavBarButton > li:hover {
    /*box-shadow: -4px 0px 10px rgba(0,0,0,0.1);*/
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.settingnavBarButton > li:active {
    background: #f2f2f2;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;*/
    -webkit-transition-duration: 0s; /* Safari */
    transition-duration: 0s;
}

.settingnavBarButton.focus > li  {
	color: #ffffff;
    box-shadow: 0px 0px 20px rgba(55,215,140,0.2);
    background-color: rgba(55,215,140,1);
}

.settingnavBarButton.disable > li  {
	color: rgba(0,0,0,0.2);
    background-color: transparent;
    box-shadow: none;
    cursor: not-allowed;
}